/*@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=71b392a8-4863-4400-a8cd-e4f9946d35c8&fontids=726288") */
@font-face {
  font-family: "Univers";
  src: url('http://resources.estorm.com/font/726288/a003083e-ffd0-49b7-af37-744d021a2b43.eot?#iefix') format('embedded-opentype'), url('http://resources.estorm.com/font/726288/0b8c6afb-4e27-4f8c-841c-390c192a2893.woff') format('woff'), url('http://resources.estorm.com/font/726288/19313855-64e7-4f8e-9fb7-46076e8ba946.ttf') format('truetype'), url('http://resources.estorm.com/font/726288/5f52ec5e-ae73-48b0-a085-4761380c4a37.svg#5f52ec5e-ae73-48b0-a085-4761380c4a37') format('svg');
}
/* line 21, ../sass/main.sass */
html, body {
  padding: 0;
  margin: 0;
}

/* line 25, ../sass/main.sass */
code {
  background: rgba(0, 0, 0, 0.1);
  padding: 0 4px;
  border-radius: 4px;
  display: inline-block;
}

/* line 31, ../sass/main.sass */
a {
  color: #fff;
}

/* line 34, ../sass/main.sass */
h1, h1 strong,
h2, h2 strong,
h3, h3 strong,
h4, h4 strong,
h5, h5 strong,
h6, h6 strong {
  font-weight: normal;
  margin: 0;
  font-family: "Univers", sans-serif;
}

/* line 45, ../sass/main.sass */
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  color: initial;
  font-size: 0.9em;
  background: rgba(255, 255, 255, 0.5);
  border: 0;
  height: 28px;
  text-indent: 10px;
  padding: 2px;
}

/* line 57, ../sass/main.sass */
input[type="submit"],
input[type="button"],
input[type="reset"],
button,
a.button {
  vertical-align: top;
  line-height: 22px;
  font-size: 22px;
  font-family: "Univers", sans-serif;
  margin: 0 10px 0 0;
  background-color: rgba(255, 255, 255, 0.25);
  background-image: url("../../images/triangle2.png");
  background-position: bottom right;
  background-size: 12px;
  background-repeat: no-repeat;
  cursor: pointer;
  border: solid 1px #fff;
  padding: 4px 12px;
  color: #fff;
}

@media (max-width: 767px) {
  /* line 78, ../sass/main.sass */
  .content h1 {
    font-size: 2.86em;
  }
}
@media (min-width: 768px) {
  /* line 78, ../sass/main.sass */
  .content h1 {
    font-size: 3.9286em;
  }
}

/* line 84, ../sass/main.sass */
h1 {
  padding-top: 4px;
  font-size: 3.43em;
  line-height: 0.917em;
  letter-spacing: 0.01em;
}
@media (max-width: 767px) {
  /* line 84, ../sass/main.sass */
  h1 {
    font-size: 2.86em;
    line-height: 0.9em;
    letter-spacing: 0.01em;
  }
}

/* line 95, ../sass/main.sass */
h2 {
  padding-top: 12px;
  font-size: 7.143em;
  line-height: 0.88em;
}
@media (max-width: 767px) {
  /* line 95, ../sass/main.sass */
  h2 {
    font-size: 4.286em;
    line-height: 0.9em;
  }
}

/* line 104, ../sass/main.sass */
h3 {
  padding: 4px 0 8px 0;
  font-size: 2.8517em;
  line-height: 0.917em;
  letter-spacing: 0.01em;
}
@media (max-width: 767px) {
  /* line 104, ../sass/main.sass */
  h3 {
    padding: 4px 0 8px 0;
    font-size: 2.286em;
    line-height: 0.917em;
    letter-spacing: 0.01em;
  }
}

/* line 116, ../sass/main.sass */
h4 {
  font-size: 2.143em;
  line-height: 1em;
  letter-spacing: 0.02em;
}

/* line 121, ../sass/main.sass */
h5 {
  font-size: 1.286em;
  line-height: 1em;
}

/* line 125, ../sass/main.sass */
h6 {
  font-size: 1.143em;
  line-height: 1em;
}

/* line 130, ../sass/main.sass */
.page .wrapper {
  padding: 85px 0 45px 0;
  margin: 0 auto;
}
/* line 134, ../sass/main.sass */
.page .wrapper .page-title {
  text-align: center;
}
/* line 136, ../sass/main.sass */
.page .wrapper .page-title h2 {
  display: inline-block;
}
/* line 139, ../sass/main.sass */
.page .wrapper .submenu {
  margin: 20px 0;
}
/* line 142, ../sass/main.sass */
.page .wrapper .submenu .view-submenu {
  position: relative;
  text-align: center;
}
/* line 146, ../sass/main.sass */
.page .wrapper .submenu .view-submenu .submenu-item {
  display: inline-block;
  margin: 0 10px 0 0;
}
/* line 150, ../sass/main.sass */
.page .wrapper .submenu .view-submenu .submenu-item a {
  display: block;
  position: relative;
  padding: 4px 15px;
  border: solid 1px #fff;
  background: rgba(255, 255, 255, 0.25);
  text-decoration: none;
  font-family: "Univers", sans-serif;
  font-size: 2em;
  line-height: 1em;
  background-image: url("../../images/triangle.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 12px;
}
/* line 165, ../sass/main.sass */
.page .wrapper .submenu .view-submenu .submenu-item a.active:after {
  content: ".";
  color: transparent;
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 12px;
  height: 12px;
  overflow: visible;
  background-image: url("../../images/triangle_grey.png");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: top left;
}
/* line 180, ../sass/main.sass */
.page .wrapper.standard {
  max-width: 1200px;
}
/* line 183, ../sass/main.sass */
.page .wrapper.wide {
  padding-left: 20px;
  padding-right: 20px;
}
/* line 187, ../sass/main.sass */
.page .wrapper.wide .content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* line 192, ../sass/main.sass */
.page.section-home {
  color: #fff;
  background-color: #6e7e8e;
  background-position: 50%;
  background-repeat: no-repeat;
}
/* line 199, ../sass/main.sass */
.page.section-home .wrapper.wide .content {
  max-width: none;
  text-align: right;
}
/* line 203, ../sass/main.sass */
.page.section-home #h1-tagline-holder {
  vertical-align: bottom;
}
/* line 206, ../sass/main.sass */
.page.section-home #h1-tagline {
  margin-top: 20px;
  padding-top: 35px;
}
/* line 210, ../sass/main.sass */
.page.section-home #h1-tagline h1,
.page.section-home #h1-tagline h2 {
  margin: 0 0 0 auto;
  padding: 0;
}
/* line 215, ../sass/main.sass */
.page.section-home #h1-tagline h1 {
  font-size: 2em;
  margin-bottom: 0.25em;
}
@media (max-height: 599px) {
  /* line 215, ../sass/main.sass */
  .page.section-home #h1-tagline h1 {
    display: inline-block;
    margin: 0 0 0 0.1em;
  }
}
/* line 223, ../sass/main.sass */
.page.section-home #home-copy {
  height: 0px;
  overflow: hidden;
  margin: 0 0 0 auto;
  position: relative;
}
/* line 229, ../sass/main.sass */
.page.section-home #home-copy-holder {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
/* line 234, ../sass/main.sass */
.page.section-home #home-copy-holder p {
  display: inline-block;
  margin: 0;
}
@media (min-width: 768px) {
  /* line 234, ../sass/main.sass */
  .page.section-home #home-copy-holder p {
    font-size: 2em;
    line-height: 1.143em;
    font-family: "Univers", sans-serif;
  }
}
/* line 243, ../sass/main.sass */
.page.section-home #open-close {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.75);
  font-weight: bold;
  display: inline-block;
  margin: 5px 8px 0 auto;
  padding: 2px 8px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/* line 253, ../sass/main.sass */
.page.section-home .rss-wrapper {
  position: absolute;
  bottom: 0px;
  height: 0px;
  overflow: visible;
  width: 100%;
}
/* line 260, ../sass/main.sass */
.page.section-home .rss-wrapper .more-blogposts {
  position: absolute;
  right: 20px;
  bottom: 120px;
  margin-bottom: 15px;
}
/* line 266, ../sass/main.sass */
.page.section-home .rss-wrapper .more-blogposts a {
  text-decoration: none;
}
/* line 270, ../sass/main.sass */
.page.section-home .rss-wrapper .rss-drawer {
  position: absolute;
  padding-bottom: 40px;
  bottom: 0px;
}
/* line 275, ../sass/main.sass */
.page.section-home .rss-wrapper .rss-drawer .rss-item {
  margin: 0;
  display: inline-block;
  vertical-align: bottom;
  width: 33.33333%;
}
/* line 281, ../sass/main.sass */
.page.section-home .rss-wrapper .rss-drawer .rss-item .rss-title {
  margin: 0;
  padding: 20px 20px 10px 20px;
}
/* line 285, ../sass/main.sass */
.page.section-home .rss-wrapper .rss-drawer .rss-item .rss-title h4 {
  font-size: 2em;
}
/* line 288, ../sass/main.sass */
.page.section-home .rss-wrapper .rss-drawer .rss-item .rss-title h4 a {
  text-decoration: none;
}
/* line 291, ../sass/main.sass */
.page.section-home .rss-wrapper .rss-drawer .rss-item .rss-title p.rss-author {
  margin: 5px 0 0 0;
  font-size: 0.9em;
}
/* line 295, ../sass/main.sass */
.page.section-home .rss-wrapper .rss-drawer .rss-item .rss-content {
  margin: 0;
  overflow: hidden;
}
/* line 299, ../sass/main.sass */
.page.section-home .rss-wrapper .rss-drawer .rss-item .rss-content .rss-description {
  padding: 10px 20px;
}
/* line 302, ../sass/main.sass */
.page.section-home .rss-wrapper .rss-drawer .rss-item .rss-content .rss-readmorelink {
  padding: 10px 20px;
  text-align: right;
  font-size: 0.9em;
}
/* line 307, ../sass/main.sass */
.page.section-home .rss-wrapper .rss-drawer .rss-item .pseudo-slider {
  position: absolute;
  height: 40px;
  width: 33.33333%;
}
/* line 312, ../sass/main.sass */
.page.section-home .rss-wrapper .rss-drawer .rss-item.row-1 {
  background: #d95455;
}
/* line 315, ../sass/main.sass */
.page.section-home .rss-wrapper .rss-drawer .rss-item.row-1 .pseudo-slider {
  background: #d95455;
}
/* line 318, ../sass/main.sass */
.page.section-home .rss-wrapper .rss-drawer .rss-item.row-2 {
  background: #f8951e;
}
/* line 321, ../sass/main.sass */
.page.section-home .rss-wrapper .rss-drawer .rss-item.row-2 .pseudo-slider {
  background: #f8951e;
}
/* line 324, ../sass/main.sass */
.page.section-home .rss-wrapper .rss-drawer .rss-item.row-3 {
  background: #1893a3;
}
/* line 327, ../sass/main.sass */
.page.section-home .rss-wrapper .rss-drawer .rss-item.row-3 .pseudo-slider {
  background: #1893a3;
}

/* line 330, ../sass/main.sass */
.page.section-home.americas {
  background-image: url("../../images/goldengatebridge.jpg");
}

/* line 333, ../sass/main.sass */
.page.section-home.emea {
  background-image: url("../../images/paris.jpg");
}

/* line 336, ../sass/main.sass */
.page.section-home.sea {
  background-image: url("../../images/kl.jpg");
}

/* line 339, ../sass/main.sass */
.page.section-home.china {
  background-image: url("../../images/shanghai.jpg");
}

/* line 342, ../sass/main.sass */
.page.section-success-stories {
  color: #fff;
  background-color: #f7951d;
}
/* line 346, ../sass/main.sass */
.page.section-success-stories .view-submenu .submenu-item a.active {
  color: #f7951d;
  background-color: #fff;
}
/* line 350, ../sass/main.sass */
.page.section-success-stories .wrapper .submenu .view-submenu .submenu-item a.active:after {
  background-image: url("../../images/triangle_oren.png");
}

/* line 353, ../sass/main.sass */
.page.section-global-reach {
  color: #fff;
  background-color: #d85454;
}
/* line 357, ../sass/main.sass */
.page.section-global-reach .view-submenu .submenu-item a.active {
  color: #d85454;
  background-color: #fff;
}
/* line 361, ../sass/main.sass */
.page.section-global-reach .wrapper .submenu .view-submenu .submenu-item a.active:after {
  background-image: url("../../images/triangle_red.png");
}

/* line 364, ../sass/main.sass */
.page.section-strategy-and-planning {
  color: #fff;
  background-color: #56c8e9;
}
/* line 368, ../sass/main.sass */
.page.section-strategy-and-planning .view-submenu .submenu-item a.active {
  color: #56c8e9;
  background-color: #fff;
}
/* line 372, ../sass/main.sass */
.page.section-strategy-and-planning .wrapper .submenu .view-submenu .submenu-item a.active:after {
  background-image: url("../../images/triangle_blue.png");
}

/* line 375, ../sass/main.sass */
.page.section-integrated-services {
  color: #fff;
  background-color: #44b2c1;
}
/* line 379, ../sass/main.sass */
.page.section-integrated-services .view-submenu .submenu-item a.active {
  color: #44b2c1;
  background-color: #fff;
}
/* line 383, ../sass/main.sass */
.page.section-integrated-services .wrapper .submenu .view-submenu .submenu-item a.active:after {
  background-image: url("../../images/triangle_cyan.png");
}

/* line 386, ../sass/main.sass */
.page.section-about-us,
.page.section-contact-us,
.page.section-privacy-policy {
  color: #fff;
  background-color: #5ac3bb;
}
/* line 392, ../sass/main.sass */
.page.section-about-us .view-submenu .submenu-item a.active,
.page.section-contact-us .view-submenu .submenu-item a.active,
.page.section-privacy-policy .view-submenu .submenu-item a.active {
  color: #5ac3bb;
  background-color: #fff;
}
/* line 396, ../sass/main.sass */
.page.section-about-us .wrapper .submenu .view-submenu .submenu-item a.active:after,
.page.section-contact-us .wrapper .submenu .view-submenu .submenu-item a.active:after,
.page.section-privacy-policy .wrapper .submenu .view-submenu .submenu-item a.active:after {
  background-image: url("../../images/triangle_green.png");
}

/* line 399, ../sass/main.sass */
.page.section-end-credits {
  color: #fff;
  background-color: #223;
}

/* line 403, ../sass/main.sass */
.page.section-search {
  color: #fff;
  background-color: #5ac3bb;
}
/* line 407, ../sass/main.sass */
.page.section-search #search_results {
  list-style-type: none;
  padding: 0 20px 20px 20px;
  margin: 0;
}
/* line 412, ../sass/main.sass */
.page.section-search #search_results li {
  margin: 0 0 15px 0;
}

/* line 417, ../sass/main.sass */
body.desktop-view div.navigation div#nav-social,
body.desktop-view div.navigation div#nav-copy {
  display: none;
}

/* line 421, ../sass/main.sass */
.navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.59);
  color: #fff;
  height: 70px;
  width: 100%;
}
/* line 430, ../sass/main.sass */
.navigation #search {
  float: right;
  position: relative;
  overflow: hidden;
  margin: 0 20px 0 0;
}
/* line 436, ../sass/main.sass */
.navigation #search .nav-search-form {
  float: right;
  width: 170px;
}
/* line 440, ../sass/main.sass */
.navigation #search .nav-search-form form#search_form {
  line-height: 70px;
  text-align: right;
}
/* line 444, ../sass/main.sass */
.navigation #search .nav-search-form form#search_form input {
  vertical-align: middle;
  display: inline-block;
  padding: 0;
}
/* line 449, ../sass/main.sass */
.navigation #search .nav-search-form form#search_form input.text {
  height: 30px;
  width: 120px;
  margin-bottom: 5px;
}
/* line 454, ../sass/main.sass */
.navigation #search .nav-search-form form#search_form input.submit {
  text-indent: -9999px;
  margin: 0 0 0 15px;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 0;
  background-image: url("../../images/search.png");
  background-repeat: no-repeat;
  background-size: 25px;
}
/* line 465, ../sass/main.sass */
.navigation #navlinks {
  display: inline-block;
  float: right;
  margin: 0 15px;
}
/* line 470, ../sass/main.sass */
.navigation #navlinks a.link {
  color: #fff;
  text-decoration: none;
  font-family: "Univers", sans-serif;
  font-size: 1.7143em;
  display: inline-block;
  margin: 2px 7px 0 7px;
  line-height: 66px;
}
/* line 479, ../sass/main.sass */
.navigation #navlinks a.link.active {
  border-bottom: solid 2px #fff;
}
/* line 482, ../sass/main.sass */
.navigation #logo {
  display: inline-block;
  float: left;
  margin: 0 20px;
}
/* line 487, ../sass/main.sass */
.navigation #logo a.logo {
  width: 170px;
  height: 70px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 170px auto;
  background-position: 50%;
  background-image: url("../../images/logo.png");
  display: block;
}
/* line 498, ../sass/main.sass */
.navigation #logo a.logo.americas,
.navigation #logo a.logo.emea {
  background-image: url("../../images/logo_us.png");
}
/* line 502, ../sass/main.sass */
.navigation #logo a.logo.sea {
  background-image: url("../../images/logo_kl.png");
}
/* line 505, ../sass/main.sass */
.navigation #logo a.logo.china {
  background-image: url("../../images/logo_shanghai.png");
}

/* line 508, ../sass/main.sass */
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background: #000;
  color: #fff;
}
/* line 516, ../sass/main.sass */
.footer div.footer-header {
  height: 40px;
  background: rgba(0, 0, 0, 0.25);
}
/* line 520, ../sass/main.sass */
.footer div.footer-header div#footer-copy {
  display: inline-block;
  float: right;
  font-size: 0.85em;
  line-height: 40px;
  margin: 0 20px;
}
/* line 527, ../sass/main.sass */
.footer div.footer-header div#contact-us-link {
  display: inline-block;
}
/* line 530, ../sass/main.sass */
.footer div.footer-header div#contact-us-link a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8em;
}
/* line 535, ../sass/main.sass */
.footer div.footer-header div#contact-us-link a.open {
  margin: 6px 10px;
  font-family: "Univers", sans-serif;
  line-height: 1em;
  padding-left: 35px;
  background-image: url("../../images/btn_icon_contact.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
}
/* line 544, ../sass/main.sass */
.footer div.footer-header div#contact-us-link a.close {
  margin: 2px;
  padding: 5px 15px;
}
/* line 548, ../sass/main.sass */
.footer div.footer-header div#footer-social {
  display: inline-block;
  float: right;
  height: 40px;
  font-size: 0;
}
/* line 554, ../sass/main.sass */
.footer div.footer-header div#footer-social div.social-button {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 40px;
  text-indent: -9999px;
}
/* line 560, ../sass/main.sass */
.footer div.footer-header div#footer-social div.social-button a {
  display: block;
  width: 40px;
  height: 40px;
}
/* line 565, ../sass/main.sass */
.footer div.footer-header div#footer-social div#social-linkedin {
  background-image: url("../../images/linkedin.png");
}
/* line 568, ../sass/main.sass */
.footer div.footer-header div#footer-social div#social-flickr {
  background-image: url("../../images/flickr.png");
}
/* line 571, ../sass/main.sass */
.footer div.footer-header div#footer-social div#social-twitter {
  background-image: url("../../images/twitter.png");
}
/* line 574, ../sass/main.sass */
.footer div.footer-header div#footer-social div#social-facebook {
  background-image: url("../../images/facebook.png");
}
/* line 579, ../sass/main.sass */
.footer div.footer-content div.column {
  display: inline-block;
  vertical-align: top;
}
/* line 583, ../sass/main.sass */
.footer div.footer-content div.column.left {
  width: 33%;
}
/* line 586, ../sass/main.sass */
.footer div.footer-content div.column.right {
  width: 66%;
}
