.page.section-home
{
  background-position: 50%;
  background-repeat: no-repeat;
}

.page.section-home.americas
{
  background-image: url("../images/goldengatebridge.jpg");
}

.page.section-home.sea
{
  background-image: url("../images/kl.jpg");
}

.page.section-home.emea
{
  background-image: url("../images/paris.jpg");
}

.page.section-home.china
{
  background-image: url("../images/shanghai.jpg");
}
