/* @import url("http://fast.fonts.net/lt/1.css?apiType=css&c=71b392a8-4863-4400-a8cd-e4f9946d35c8&fontids=726288"); */
@font-face
{
  font-family:"Univers";
  /*font-family: "Univers";*/
  src: url("http://resources.estorm.com/font/726288/a003083e-ffd0-49b7-af37-744d021a2b43.eot?#iefix");
  src: url("http://resources.estorm.com/font/726288/a003083e-ffd0-49b7-af37-744d021a2b43.eot?#iefix") format("eot"),
       url("http://resources.estorm.com/font/726288/0b8c6afb-4e27-4f8c-841c-390c192a2893.woff") format("woff"),
       url("http://resources.estorm.com/font/726288/19313855-64e7-4f8e-9fb7-46076e8ba946.ttf") format("truetype"),
       url("http://resources.estorm.com/font/726288/5f52ec5e-ae73-48b0-a085-4761380c4a37.svg#5f52ec5e-ae73-48b0-a085-4761380c4a37") format("svg");
}

html, body
{
  padding: 0;
  margin: 0;
}

h1, h1 strong,
h2, h2 strong,
h3, h3 strong,
h4, h4 strong,
h5, h5 strong,
h6, h6 strong
{
  font-weight:normal; 
  margin:0; 
  font-family: 'Univers', sans-serif; 
}

@media all and (max-width:767px)
{
  h2
  {
    font-size: 4.286em;
    line-height: 0.9em;
  }

  h1
  {
    font-size: 2.86em;
    line-height: 0.9em;
    letter-spacing: 0.01em;
  }

  h3 
  {
    padding: 4px 0 8px 0;
    font-size: 2.286em; /*3.42em;*/
    line-height: 0.917em;
    letter-spacing: 0.01em;
  }
  
  /* h1 in content, for SEO purposes */
  .content h1
  {
    font-size: 2.86em; /* 55px */
  }

}

@media all and (min-width:768px)
{
  h2
  {
    padding-top:12px;
    font-size: 7.143em;
    line-height: 0.88em;
  }
  
  h1
  {
    padding-top:4px;
    font-size: 3.43em;
    line-height: 0.917em;
    letter-spacing:0.01em;
  }

  h3 
  {
    padding: 4px 0 8px 0;
    font-size: 2.8517em; /*3.42em;*/
    line-height: 0.917em;
    letter-spacing:0.01em;
  }

  /* h1 in content, for SEO purposes */
  .content h1
  {
    font-size: 3.9286em; /* 55px */
  }

}

h4 
{
  font-size: 2.143em;
  line-height: 1em;
  letter-spacing:0.02em;
}
h5 
{
  font-size: 1.286em;
  line-height: 1em;
}
h6 
{
  font-size: 1.143em;
  line-height: 1em;
}

.page
{
  
}

.page.section-home
{
  color: #fff;
  background-color: #6e7e8e;
}

.wrapper
{
  padding: 85px 0 45px 0;
  margin: 0 auto;
}

.wrapper.standard
{
  width: 1200px;
}

.wrapper.wide
{
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper.wide .content
{
  max-width: 1200px;
  margin: 0 auto;
}

.navigation
{
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0;
  background: rgba(0,0,0,0.59);
  color: #fff;
  height: 70px;
  width: 100%;
}

.navigation #logo
{
  display: inline-block;
  float: left;
  margin: 0 20px;
}

.navigation #logo a.logo
{
  width: 170px;
  height: 70px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 170px auto;
  background-position: 50% 50%;
  background-image: url("../images/logo.png");
  display: block;
}

.navigation #logo a.logo.americas,
.navigation #logo a.logo.emea
{
  background-image: url("../images/logo_us.png");
}

.navigation #logo a.logo.sea
{
  background-image: url("../images/logo_kl.png");
}

.navigation #logo a.logo.china
{
  background-image: url("../images/logo_shanghai.png");
}

.navigation #navlinks
{
  display: inline-block;
  float: right;
  margin: 0 20px;
}

.navigation #navlinks a.link:link,
.navigation #navlinks a.link:hover,
.navigation #navlinks a.link:visited,
.navigation #navlinks a.link:active
{
  color: #fff;
  text-decoration: none;
  font-family: 'Univers';
  font-size: 1.7143em;
  display: inline-block;
  margin:0 7px;
  line-height: 70px;
}

.page-title
{

}

.submenu
{

}

.footer
{
  position: fixed;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background: #000;
  color: #fff;
}
