$section_bluishgrey: rgb(110, 126, 142)
$section_orange: rgb(247, 149, 29)
$section_red: rgb(216, 84, 84)
$section_cyan: rgb(86, 200, 233)
$section_turquoise: rgb(68, 178, 193)
$section_green: rgb(90, 195, 187)

$inputtext_bkg: rgba(255,255,255,0.5)
$inputbtn_bkg: rgba(255,255,255,0.25)

$border_standard: solid 1px #fff

$font_univers: 'Univers', sans-serif

$footer_start_height: 40px

/*@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=71b392a8-4863-4400-a8cd-e4f9946d35c8&fontids=726288")*/
@import compass/css3
+font-face('Univers', font-files('http://resources.estorm.com/font/726288/a003083e-ffd0-49b7-af37-744d021a2b43.eot?#iefix','http://resources.estorm.com/font/726288/0b8c6afb-4e27-4f8c-841c-390c192a2893.woff','http://resources.estorm.com/font/726288/19313855-64e7-4f8e-9fb7-46076e8ba946.ttf','http://resources.estorm.com/font/726288/5f52ec5e-ae73-48b0-a085-4761380c4a37.svg#5f52ec5e-ae73-48b0-a085-4761380c4a37'))

html, body
  padding: 0
  margin: 0

code
  background: rgba(0,0,0,0.1)
  padding: 0 4px
  border-radius: 4px
  display: inline-block

a
  color: #fff

h1, h1 strong,
h2, h2 strong,
h3, h3 strong,
h4, h4 strong,
h5, h5 strong,
h6, h6 strong

  font-weight: normal
  margin: 0
  font-family: $font_univers

input[type="text"],
input[type="password"],
input[type="email"],
textarea
  color: initial
  font-size: 0.9em
  background: $inputtext_bkg
  border: 0
  height: 28px
  text-indent: 10px
  padding: 2px

input[type="submit"],
input[type="button"],
input[type="reset"],
button,
a.button
  vertical-align: top
  line-height: 22px
  font-size: 22px
  font-family: $font_univers
  margin: 0 10px 0 0
  background-color: $inputbtn_bkg
  background-image: url("../../images/triangle2.png")
  background-position: bottom right
  background-size: 12px
  background-repeat: no-repeat
  cursor: pointer
  border: solid 1px #fff
  padding: 4px 12px
  color: #fff

.content
  h1
    @media (max-width:767px)
      font-size: 2.86em
    @media (min-width:768px)
      font-size: 3.9286em

h1
  padding-top: 4px
  font-size: 3.43em
  line-height: 0.917em
  letter-spacing: 0.01em

  @media (max-width:767px)
    font-size: 2.86em
    line-height: 0.9em
    letter-spacing: 0.01em

h2
  padding-top: 12px
  font-size: 7.143em
  line-height: 0.88em

  @media (max-width:767px)
    font-size: 4.286em
    line-height: 0.9em

h3
  padding: 4px 0 8px 0
  font-size: 2.8517em
  line-height: 0.917em
  letter-spacing: 0.01em

  @media (max-width:767px)
    padding: 4px 0 8px 0
    font-size: 2.286em
    line-height: 0.917em
    letter-spacing: 0.01em

h4 
  font-size: 2.143em
  line-height: 1em
  letter-spacing: 0.02em

h5 
  font-size: 1.286em
  line-height: 1em

h6 
  font-size: 1.143em
  line-height: 1em

.page
  .wrapper
    padding: 85px 0 45px 0
    margin: 0 auto
    
    .page-title
      text-align: center
      h2
        display: inline-block

    .submenu
      margin: 20px 0

      .view-submenu
        position: relative
        text-align: center

        .submenu-item
          display: inline-block
          margin: 0 10px 0 0

          a
            display: block
            position: relative
            padding: 4px 15px
            border: $border_standard
            background: $inputbtn_bkg
            text-decoration: none
            font-family: $font_univers
            font-size: 2em
            line-height: 1em
            background-image: url('../../images/triangle.png')
            background-repeat: no-repeat
            background-position: top left
            background-size: 12px

          a.active:after
            content: "."
            color: transparent
            display: block
            position: absolute
            top: -1px
            left: -1px
            width: 12px
            height: 12px
            overflow: visible
            background-image: url("../../images/triangle_grey.png")
            background-size: 12px
            background-repeat: no-repeat
            background-position: top left

  .wrapper.standard
    max-width: 1200px

  .wrapper.wide
    padding-left: 20px
    padding-right: 20px

    .content
      max-width: 1200px
      margin-left: auto
      margin-right: auto

.page.section-home
  color: #fff
  background-color: $section_bluishgrey
  background-position: 50%
  background-repeat: no-repeat

  .wrapper.wide
    .content
      max-width: none
      text-align: right

  #h1-tagline-holder
    vertical-align: bottom

  #h1-tagline
    margin-top: 20px
    padding-top: 35px

  #h1-tagline h1,
  #h1-tagline h2
    margin: 0 0 0 auto
    padding: 0

  #h1-tagline h1
    font-size: 2em
    margin-bottom: 0.25em

    @media (max-height: 599px)
      display: inline-block
      margin: 0 0 0 0.1em

  #home-copy
    height: 0px
    overflow: hidden
    margin: 0 0 0 auto
    position: relative

  #home-copy-holder
    position: absolute
    bottom: 0px
    right: 0px

  #home-copy-holder p
    display: inline-block
    margin: 0

    @media (min-width:768px)
      font-size: 2em
      line-height: 1.143em
      font-family: $font_univers

  #open-close
    font-size: 13px
    color: rgba(255,255,255,0.75)
    font-weight: bold
    display: inline-block
    margin: 5px 8px 0 auto
    padding: 2px 8px
    background-color: rgba(0,0,0,0.2)
    cursor: pointer

  .rss-wrapper
    position: absolute
    bottom: 0px
    height: 0px
    overflow: visible
    width: 100%

    .more-blogposts
      position: absolute
      right: 20px
      bottom: 120px
      margin-bottom: 15px

      a
        text-decoration: none


    .rss-drawer
      position: absolute
      padding-bottom: $footer_start_height
      bottom: 0px

      .rss-item
        margin: 0
        display: inline-block
        vertical-align: bottom
        width: 33.3333333%

        .rss-title
          margin: 0
          padding: 20px 20px 10px 20px

          h4
            font-size: 2em

            a
              text-decoration: none

          p.rss-author
            margin: 5px 0 0 0
            font-size: 0.9em

        .rss-content
          margin: 0
          overflow: hidden

          .rss-description
            padding: 10px 20px

          .rss-readmorelink
            padding: 10px 20px
            text-align: right
            font-size: 0.9em

        .pseudo-slider
          position: absolute
          height: 40px
          width: 33.3333333%

      .rss-item.row-1
        background: #d95455

        .pseudo-slider
          background: #d95455

      .rss-item.row-2
        background: #f8951e

        .pseudo-slider
          background: #f8951e

      .rss-item.row-3
        background: #1893a3

        .pseudo-slider
          background: #1893a3

.page.section-home.americas
  background-image: url("../../images/goldengatebridge.jpg")

.page.section-home.emea
  background-image: url("../../images/paris.jpg")

.page.section-home.sea
  background-image: url("../../images/kl.jpg")

.page.section-home.china
  background-image: url("../../images/shanghai.jpg")

.page.section-success-stories
  color: #fff
  background-color: $section_orange

  .view-submenu .submenu-item a.active
    color: $section_orange
    background-color: #fff

  .wrapper .submenu .view-submenu .submenu-item a.active:after
    background-image: url("../../images/triangle_oren.png")

.page.section-global-reach
  color: #fff
  background-color: $section_red

  .view-submenu .submenu-item a.active
    color: $section_red
    background-color: #fff  

  .wrapper .submenu .view-submenu .submenu-item a.active:after
    background-image: url("../../images/triangle_red.png")

.page.section-strategy-and-planning
  color: #fff
  background-color: $section_cyan

  .view-submenu .submenu-item a.active
    color: $section_cyan
    background-color: #fff

  .wrapper .submenu .view-submenu .submenu-item a.active:after
    background-image: url("../../images/triangle_blue.png")

.page.section-integrated-services
  color: #fff
  background-color: $section_turquoise

  .view-submenu .submenu-item a.active
    color: $section_turquoise
    background-color: #fff

  .wrapper .submenu .view-submenu .submenu-item a.active:after
    background-image: url("../../images/triangle_cyan.png")

.page.section-about-us,
.page.section-contact-us,
.page.section-privacy-policy
  color: #fff
  background-color: $section_green

  .view-submenu .submenu-item a.active
    color: $section_green
    background-color: #fff

  .wrapper .submenu .view-submenu .submenu-item a.active:after
    background-image: url("../../images/triangle_green.png")

.page.section-end-credits
  color: #fff
  background-color: #223

.page.section-search,
  color: #fff
  background-color: $section_green

  #search_results
    list-style-type: none
    padding: 0 20px 20px 20px
    margin: 0

    li
      margin: 0 0 15px 0

body.desktop-view
  div.navigation
    div#nav-social,
    div#nav-copy
      display: none

.navigation
  position: fixed
  top: 0px
  left: 0px
  background: rgba(0,0,0,0.59)
  color: #fff
  height: 70px
  width: 100%

  #search
    float: right
    position: relative
    overflow: hidden
    margin: 0 20px 0 0

    .nav-search-form
      float: right
      width: 170px

      form#search_form
        line-height: 70px
        text-align: right

        input
          vertical-align: middle
          display: inline-block
          padding: 0

        input.text
          height: 30px
          width: 120px
          margin-bottom: 5px

        input.submit
          text-indent: -9999px
          margin: 0 0 0 15px
          height: 25px
          width: 25px
          background-color: transparent
          border: 0
          background-image: url("../../images/search.png")
          background-repeat: no-repeat
          background-size: 25px

  #navlinks
    display: inline-block
    float: right
    margin: 0 15px

    a.link
      color: #fff
      text-decoration: none
      font-family: $font_univers
      font-size: 1.7143em
      display: inline-block
      margin: 2px 7px 0 7px
      line-height: 66px

    a.link.active
      border-bottom: solid 2px #fff

  #logo
    display: inline-block
    float: left
    margin: 0 20px

    a.logo
      width: 170px
      height: 70px
      margin: 0
      padding: 0
      background-repeat: no-repeat
      background-size: 170px auto
      background-position: 50%
      background-image: url("../../images/logo.png")
      display: block

    a.logo.americas,
    a.logo.emea
      background-image: url("../../images/logo_us.png")

    a.logo.sea
      background-image: url("../../images/logo_kl.png")

    a.logo.china
      background-image: url("../../images/logo_shanghai.png")

.footer
  position: fixed
  bottom: 0px
  width: 100%
  height: $footer_start_height
  background: #000
  color: #fff

  div.footer-header
    height: 40px
    background: rgba(0,0,0,0.25)

    div#footer-copy
      display: inline-block
      float: right
      font-size: 0.85em
      line-height: 40px
      margin: 0 20px
  
    div#contact-us-link
      display: inline-block

      a
        display: inline-block
        text-decoration: none
        font-size: 1.8em
    
      a.open
        margin: 6px 10px
        font-family: $font_univers
        line-height: 1em
        padding-left: 35px
        background-image: url("../../images/btn_icon_contact.png")
        background-repeat: no-repeat
        background-position: 0 50%

      a.close
        margin: 2px
        padding: 5px 15px

    div#footer-social
      display: inline-block
      float: right
      height: 40px
      font-size: 0

      div.social-button
        display: inline-block
        background-repeat: no-repeat
        background-size: 40px
        text-indent: -9999px

        a
          display: block
          width: 40px
          height: 40px

      div#social-linkedin
        background-image: url('../../images/linkedin.png')

      div#social-flickr
        background-image: url('../../images/flickr.png')

      div#social-twitter
        background-image: url('../../images/twitter.png')

      div#social-facebook
        background-image: url('../../images/facebook.png')

  div.footer-content

    div.column
      display: inline-block
      vertical-align: top

    div.column.left
      width: 33%

    div.column.right
      width: 66%
